<html layout:decorate="~{layout}">
<div class="container my-3" layout:fragment="content">

    <div class="container my-3">

        <h2 class="border-bottom py-2" th:text="${article.title}"></h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${article.content}"></div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${article.author != null}" th:text="${article.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="my-3">
                    <a id ="article_recommend"
                       class="recommend btn btn-sm btn-outline-secondary"
                       onclick="return confirm('정말 추천하시겠습니까?')">
                        추천
                        <span id="article_recommend_count"
                              class="badge rounded-pill bg-success"
                              th:text="${#lists.size(article.voter)}"></span>
                    </a>
                    <a th:href="@{|/article/modify/${article.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
                       th:text="수정"></a>
                    <a
                        onclick="return confirm('정말 삭제하시겠습니까?')"
                        th:href="@{|/article/delete/${article.id}|}"
                        class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                        th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
                        th:text="삭제"></a>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" th:href="@{/article/list}">Article 목록</a>
    </div>
</div>
</html>

<script th:inline="javascript">
    var article_id = [[${article.id}]];

    $("#article_recommend").on("click", function() {
        $.ajax({
            url: "/article/vote/" + article_id,
            type: "GET",
            success: function(response) {
                // 요청이 성공했을 때 실행되는 콜백 함수
                console.log("성공", response);
                $("#article_recommend_count").text(response);
            },
            error: function(xhr, status, error) {
                // 요청이 실패했을 때 실행되는 콜백 함수
                console.log("오류 발생", error);
            }
        });
    });
</script>